<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grammar Check</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/grammarly.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
</head>
<body>
    <div class="header-menu">
        <nav>
            <div class="left-menu">
                <img src="../static/images/menu.png" alt="menu">
                <a href="#">GRAMMAR CORRECTOR</a>
            </div>
            <img src="../static/images/user.png" alt="user">
        </nav>

        <div class="menu-tab">
            <a href="{{url_for('render_translator.render_translation_page')}}"><img src="../static/images/translator.png" alt="trans"></a>
            <a href="{{url_for('render_grammar.render_grammar_page')}}"><img src="../static/images/grammar.png" alt="grammar"></a>
            <a href="{{url_for('render_summarizer.render_summarizer_page')}}"><img src="../static/images/sum.png" alt="sum"></a>
            <a href="#"><img src="../static/images/help.png" alt="help"></a>
            <a href="#"><img src="../static/images/mail.png" alt="mail"></a>
        </div>
    </div>

    <div class="container">
        <main>
            <div class="content-wrapper">
                <div class="title-section">
                    <h2>GRAMMAR CORRECTOR</h2>
                    <img src="../static/images/grammar_icon.png" alt="Grammar Check Icon" class="grammar-icon">
                </div>

                <div class="text-container">
                    <div class="input-section">
                        <textarea placeholder="Enter your text here..."></textarea>
                        <label class="countWord">0 / 500</label>
                        <div class="button-group">
                            <button class="btn paste-btn">
                                <i class="fas fa-paste"></i>
                                PASTE TEXT
                            </button>
                            <button class="btn upload-btn">
                                <input type="file" name="" id="upload-input" style="display: none;">
                                <i class="fas fa-cloud-upload-alt"></i>
                                UPLOAD FILE
                            </button>
                        </div>
                    </div>
                    
                    <div class="button-container">
                        <button class="check-button active-model-button">Check</button>
                    </div>

                    <div class="result-section">
                        <div class="result-box"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
    <script type="module" src="{{url_for('static', filename='script/grammarly.js')}}"></script>
</body>
</html>