<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/translation.css')}}">
    <title>Translator</title>
</head>

<body>

    <div class="header-menu">
        <nav>
            <div class="left-menu">
                <img src="../static/images/menu.png" alt="menu">
                <a href="#">TRANSLATOR</a>
            </div>
            <img src="../static/images/user.png" alt="user">
        </nav>

        <div class="menu-tab">
            <a href="{{url_for('translator.render_translation_page')}}"><img src="../static/images/translator.png" alt="trans"></a>
            <a href="{{url_for('grammar.render_grammar_page')}}"><img src="../static/images/grammar.png" alt="grammar"></a>
            <a href="{{url_for('summarizer.render_summarizer_page')}}"><img src="../static/images/sum.png" alt="sum"></a>
            <a href="#"><img src="../static/images/help.png" alt="help"></a>
            <a href="#"><img src="../static/images/mail.png" alt="mail"></a>
        </div>
    </div>

    <div class="header-container">
        <img src="../static/images/1.png" alt="Translator1">
        <h1>Translator</h1>
        <img src="../static/images/2.png" alt="Translator2">
    </div>

    <div class="language-dropdown">
        <select id="dropdown1">
            <option value="" disabled selected hidden>Language</option>
            <option value="en">English</option>
            <option value="vi">Vietnamese</option>
        </select>

        <select id="dropdown2">
            <option value="" disabled selected hidden>Language</option>
            <option value="en">English</option>
            <option value="vi">Vietnamese</option>
        </select>
    </div>

    <div class="translation-container">
        <div class="translation-box1" contenteditable="true"></div>
        <div class="button-container">
            <button class="translator-button active-model-button" onclick="translate()">Translator</button>
        </div>
        <div class="translation-box2" contenteditable="true"></div>
    </div>

    <script src="{{url_for('static', filename='script/translation.js')}}"></script>
</body>

</html>